@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

:root {
  --font-family-body-text: 'Montserrat', sans-serif;
  --font-family-head-line: 'Roboto', sans-serif;

  --primary-color: #3E66F4;
  --dark-color: #3457d5;

  --secondary-color: #767676;
  --third-color: #DE4456;
  --black-color: #0E0A0A;
  --accent-color: #1D1D1D;
  --light-background-color: #F2F0F0;
  --light-color: #A6A6A6;
}

/* --------------------------------- */

button {
  outline: none !important;
  border: none !important;
  line-height: normal; 
}

/* --------------------------------- */

a {
  background: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

/* --------------------------------- */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* *************  Nav-bar ******************* */

.bottom-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important;
}
.navbar-menu-mobile {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 1200;
  top: 0px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important;
  background-color: #fff;
}

.navbar-menu-tablet {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 1200;
  top: 0px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25) !important;
  background-color: #fff;
}

/*                   logo                     */
.logo-container {
  /* 
  - b/c height of { a.nav-logo } overflow the div.logo-container 

  + and a.nav-logo {
    using: padding: 1em 0  => it overflows its div.logo-container
    and don't use margin
  }
  */
  height: max-content;
}

a.nav-logo {
  line-height: 2;
  display: inline-block;
  padding: 1em 1em 1em 0;
}

nav.navbar-padding {
  padding: 0 1em !important;
}

.nav-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.nav-text a, .nav-text span {
  color: var(--light-color) !important;
}

/*                SVG btn               */
svg path {
  fill: var(--secondary-color);
}

.svg-icon {
  /* 
  - height = 24px: for calculating easily
  Ex: 64px(navbar) - 24px = 40px
  => padding top = bottom = 20px = 1.25rem  
  */
  display: block;
  height: 24px;
  /* don't use width => it will make icon small */
}

.svg-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.svg-btn {
  /* must have */
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  /* don't use width => it will make icon small */

  padding: 0;
  line-height: 1;
  background-color: transparent;
}

/* ------------  menu tab    ----------- */
.right-navbar .right-nav-item {
  vertical-align: middle;
  line-height: 1;
  margin-left: 1.5em;
}

.navbar-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.nav-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1030;

  background-color: var(--accent-color);
  height: 100%;
  width: 0px;
  transition: width .3s;
}

.nav-container-transition {
  width: 70%;
  transition: width .3s;
}

.nav-btn-wrapper {
  height: 64px;
  /*  
  b/c { x } btn : height = 24px
  => padding top = bottom = (64px (navbar) -24px)/2 = 40px/2 = 20px = 1.25rem
    
  */  
  padding: 1.25rem 1rem 1.25rem 1.5rem;
  line-height: 1;
  border-bottom: 0.5px solid rgba(255, 255, 255 , .25);
}

.navbar-collapse > .nav-btn-wrapper {
  text-align: right;
}

.icon-btn {
  font-size: 1rem;
  background-color: transparent; 
  padding: 0;
}

/* li */
.nav-item {
  /* edit */
  padding: 0 1rem 0 1.5rem;
  /*
  - for each nav-item have hieght = 56px 
  */
  line-height: 1.5; 
}

.navbar-nav .active {
  background-color: rgba(255, 255, 255, .15);
}

.navbar-nav .nav-item:not(:last-child):active {
  background-color: rgba(255, 255, 255, .15);
}

.h-btn:active, .h-btn:hover {
  background-color: var(--dark-color);
}

/* li -> a */
.nav-link {
  /* edit */
  display: block;
}

.nav-item-wrapper {
  padding: 1rem 0;
}

.dropdown-item-wrapper {
  padding: .5rem 0;
}

/* ----- categories */
.category-item {
  width: 100%;
  background: transparent;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* dropdown-menu of category */
.dropdown {
  position: static;
}

.dropdown-container {
  position: fixed;
  top: 0;
  right: 0;
  left: inherit;
  z-index: 1008;

  background-color: var(--accent-color);
  /* b/c dropdown-menu is the child of .navbar-collapse */
  width: 0px;  
  height: 100%;

  /* overlap the built-in Bootstrap */
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  transition: width .3s;
}

.dropdown-container-transition {
  width: 70%;
  transition: width .3s;
}


.dropdown-item {
  display: block;
  width: 100%;
  padding: 0 1rem 0 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:active, .dropdown-item:hover {
  background-color: rgba(255, 255, 255 ,.15);
}

/* ----------  Search Button     -------------------------- */
.right-navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;;
}

.toggle-search {
  cursor: pointer;
  line-height: 1;
}

.search-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* for transition : search form */
  justify-content: flex-end;
}

.search-container {
  position: absolute;
  right: 0px;
  top: 0px;
  /* under the menu-nav-bar */
  z-index: 5;
  
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  background-color: #fff;
  padding: 1rem .5rem;

  position: fixed;
  z-index: 1020;
  top: 0;
  /* Way 1: using right: 0, z-index and with
  right: 0;
  z-index: -10;
  width: 0px;
  transition: width .3s ;
  */
  /* way 2: using right: -100%, width = 100% 
  - run from right= -100% -> 0px
  */
  width: 100%;
  right: -100% ;
  transition: right .3s ;
}


.search-form-transition {
  right: 0px;
  transition: right .3s;
}

.search-form .text-input {
  display: inline-block;
  width: 100%;
  /* b/c navbar= 64 
  + 64 -2.16(padding) = 32 
  */
  height: 32px;
  line-height: normal;
  outline: none;
  padding-left: 0.3rem;
  margin: 0 .5rem;
}

.search-field {
  border: none;
  border-bottom: 1px solid rgba( 0, 0, 0, .4);
  background-color: transparent;
}

input[type="search" i] {
  padding: 1px;
}

input[type="search"], input[type="text"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-color) !important;
}


/* 
- remove “X” mark in search input field on Chrome and IE

https://geektnt.com/how-to-remove-x-from-search-input-field-on-chrome-and-ie.html
*/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* ----------------- right navbar  ----------------------- */
.hide-phone {
  display: none;
}

/*  disappear V: icon-bottom-arrow of Categories */
.show-desktop {
  display: none;
}

.list-right-navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/*  signIn btn  */

a.signIn-text {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: #fff !important;
  /*  to align the button at the center */
  padding: .7em 1.5em; 
}


/* icon V and search icon*/
.icon-open-dropdown > svg > path {
  fill: var(--black-color);
}

.toggle-search:hover > svg > path {
  fill: var(--black-color);
}

/* **********  heading     ************** */
.heading-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.heading-content {
  padding-bottom: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; 
}
.heading-title {
  margin-bottom: 1.5rem;
}

.heading-text {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 2.8rem !important;
  line-height: 1.25 !important;
  padding: 0;
  margin: 0;
}

.sub-title {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem !important;
  line-height : 1.5;
  font-weight: 500;
  text-align: left;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;  
}

.get-started-container {
  width: inherit;
  margin: .5rem 0;
}

.get-started-btn {
  display: block;
  width: 100%;

  text-align: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: #fff;
  padding: 10px 0;
}

.btn-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height : 1.5;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.get-started-btn:hover {
  color: #fff;
}

.heading-image-container {
  width: 100%;
  padding: 0 1rem;
}


.flying-ebook {
  background-image: url('../images/flying-ebook.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  /* Hints 
  - it makes image scale
  */
  padding-bottom: 97%;
}

/*            categories section           */
.categories-section {
  background-color: var(--light-background-color);
}

.none-padding {
  padding: 0
}

.section-container {
  padding: 2rem 0
}

.section-title {
  margin-bottom: 1rem;
}

.section-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height : 1.25;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.carousel {
  position: relative;
  min-width: 100% !important;
  /* don't use overflow in here */
}

.slide {
  margin-left: -16px;
  margin-right: -16px;
}

.carousel-inner {
  display: flex;
  position: relative;
  transform: translateX(0px);
  overflow-x: scroll;
  overflow-y: hidden;

  /* to hide scrollbar */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/*
- hiding the scrollbar
https://stackoverflow.com/questions/3296644/hiding-the-scroll-bar-on-an-html-page

*/
.carousel-inner::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

@supports (scroll-snap-align: start) {
  /* modern scroll snap points */
  .carousel-inner {
    /* Error: it makes scrollTo() method works wrong */
    /* scroll-snap-type: x mandatory; */
  }
  .carousel-item {
    scroll-snap-align: center;
    /* scroll-snap-align: start !important;
    scroll-snap-stop: always !important; */
  }
}

.carousel-item {
  display: inline-block !important;
  /* overlap the bootstrap */
  margin-right: 0px !important;
}

.categories-section .carousel-item {
  padding-right: 1.25rem;
}

.carousel-item:first-child {
  padding-left: 16px;
}

.carousel-item:last-child {
  padding-right: 16px;
}

.b-container {
  width: 100%;
}

a.b-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height : 1.5;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}

.b-content {
  /* 
    https://css-tricks.com/using-flexbox/ 
  */
  display: -webkit-box;
  display: flex !important; 
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  width: 9.8rem !important;

  height: 100px;
  color: #fff;
  text-align: center;
  background-color: #2440a5;
  border-radius: 5px;
  padding: 0 1.5rem;
}

/*              pre and next carousel btn           */
.center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-btn {
  width: 32px;
  height: 32px;
  /* position of btn must be { relative } */
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .35), 0px -1px 4px rgba(0, 0, 0, .35)
}

/* Lesson: active: click => work  ; release => don't work */
.carousel-btn:active, .carousel-btn:hover {
  box-shadow: 0px 1px 10px var(--primary-color), 0px -1px 10px var(--primary-color);
}

.carousel-btn-container {
  display: inline-block;
  /* position of container <div> must be { absolute }  */
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
}

.custom-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.carousel-mobile-landscape {
  display: none !important;
}

.carousel-mobile-portrait {
  display: block !important;
}

/*               Top Read Books                   */
.section-grid {
  display: grid;
  grid-template-columns: 1fr max-content;
  /* align-items: baseline; */
}

.open-view {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary-color);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding-right: 2px;
}

.open-view:hover {
  text-decoration: underline;
}

.book-cover {
  margin: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .25), 0px 1px 4px rgba(0, 0, 0, .25);
  position: relative;
  z-index: 1;
  /* height: 17.5rem; */
}

.book-cover:hover {
  box-shadow: 0px 1px 5px rgba(0,0,0,.5), 0px 1px 5px rgba(0,0,0,.5);
}



.book-sm {
  /* width: 10rem; */
  width: 10.125rem;
}

.book-width {
  /* width: 10rem; */
  width: 10.125rem;
}

.book-link-cover {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 1rem;
}

.book-type {
  padding: 2px 10px;
  color: #fff;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-size: 13px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.book-free {
  background-color: var(--primary-color);
}

.book-purchase {
  background-color: var(--third-color);
}

.book-image-cover {
  margin-bottom: 6px;
  width: 100%;
}

.book-image {
  display: block;
  margin: 0 auto;
}

.book-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  height: 38px;
  color: var(--black-color);
  margin-bottom: 6px;
}

.view-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  line-height: 18px;
  height: 18px;
}

.svg-icon-sm {
  /* 
  - height = 24px: for calculating easily
  Ex: 64px(navbar) - 24px = 40px
  => padding top = bottom = 20px = 1.25rem  
  */
  display: block;
  height: 18px;
  /* don't use width => it will make icon small */
}

.svg-wrapper-sm {
  display: inline-block;
  vertical-align: middle;
}

.svg-btn-sm {
  /* must have */
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  /* don't use width => it will make icon small */

  padding: 0;
  line-height: 1;
  background-color: transparent;
}

.view-item {
  height: 18px;
}

.amount-item { 
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  line-height: 18px;
  color: var(--secondary-color);
}

.book-section .carousel-item {
  padding-right: 12px;
}

.section-line {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

/* book review */

.review-item {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.review-item:not(:first-child) {
  margin-top: 2.5rem;
}

.review-content {
  margin-right: 1.25rem;
}

.review-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #000;
  margin-bottom: 4px;
}

.sub-content{
  font-family: 'Montserrat',sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-color) !important;
  margin-bottom: 12px;
}

.review-author {
  color: var(--accent-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 500;
}

.review-author:hover {
  text-decoration: underline;
}

.review-book-image {
  width: 80px;
}

.review-caption-container {
  display: flex;
  flex-flow: row nowrap;
  line-height: 18px;
  height: 18px;
}


.review-book-image {
  /* ----------- responsive */
  width: 80px;
}

.review-container {
  padding-bottom: 2rem;
}


.club-image {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.club-avatar {
  width: 3rem;
}

.club-image-container {
  padding-right: 12px;
}

.club-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-bottom: 1rem;
}

.club-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #000;
}

.club-name:hover {
  text-decoration: underline;
}

.club-number-of-member {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondary-color);
}

/* author interviews */
.author-avatar {
  width: 3rem;
}

.testimonial-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black-color);
  margin-bottom: 1rem;
}

.author-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}
.author-name {
  font-family: 'Montserrat',sans-serif;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--primary-color);
}

.author-title {
  font-family: 'Montserrat',sans-serif;
  font-size: .9rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--secondary-color);
}

.testimonial-item {
  margin: 5px;
  border: none;
  box-shadow: 0px 1px 5px rgba(0 , 0, 0, .2), 0px -1px 5px rgba(0 , 0, 0, .2);
  width: 16.25rem;
}

#testimonialList .carousel-item {
  padding-right: 1rem;
}

.testimonial-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 600;
  color: #000;
  margin-bottom: 2rem;
}

.testimonial-container {
  padding: 2rem 0;
  background-color: var(--light-background-color);
}

/*    pricing     */
.pricing-container {
  background-color: var(--primary-color);
}

.pricing-heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.pricing-inner {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pricing-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 0.5rem;
}

.sub-pricing-title {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  line-height: 1.3;
  font-weight: 400;
  color: #fff;
}

.pricing-list {
  margin: 0;
}

.pricing-item-container {
  padding: 1.5rem 1rem;
}

.card-heading {
  padding: 1rem 0;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  line-height: 1;
  margin-bottom: .75rem;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
  color: var(--primary-color);
}

.card-sub-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: 500;
  color:  rgba(0, 0, 0, .6);
}

.list-pricing-content {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: .5rem;
}

.pricing-icon {
  padding-right: 1rem;
}

.pricing-icon svg path {
  fill: var(--primary-color);
}

.effective-content {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  color: #000;
  line-height: 24px;
}

.effective-content:hover, .ineffective-content:hover {
  text-decoration: underline;
  cursor: context-menu;
}

.ineffective-content {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, .6);
  line-height: 24px;
}

.pricing-button {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 1rem 0;
  margin: 1.5rem 0;
  width: 100%;
  border-radius: 5px;
}

.pricing-button:hover, .pricing-button:active {
  color: #fff;
  background-color: var(--dark-color);
  box-shadow: 0px 2px 15px var(--primary-color);
}

.pricing-item:not(:last-child) {
  padding-bottom: 2rem;
}


/* never miss */

.never-miss-container {
  padding: 1.75rem 0;
}

.never-miss-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.email-form-container {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  display: flex;
  justify-content: center;
}

.email-notify {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
}

.never-miss-input {
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  margin-bottom: 0.75rem;
  outline: none;
}

.never-miss-btn {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: 500;
  width: 100%;
}

.never-miss-btn:hover, .never-miss-btn:active {
  background-color: var(--dark-color);
}

/* footer */
.footer-item-title {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--light-color);
  margin-bottom: .8rem;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-color);
}

.footer-link:hover, .footer-link:active {
  color: var(--light-color);
  text-decoration: underline;
}

.list-item li.f-item {
  margin-bottom: .5rem;
}

.footer-container {
  background-color: var(--accent-color);
}

.footer-content {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-footer {
  flex: 0 0 100%;
}

.footer-item {
  flex: 0 0 50%;
  padding-top: 1.5rem;
}

.contact-icon {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.contact-item {
  display: inline-block;
  padding-right: .5rem;
}

.contact-icon svg path {
  fill: #fff;
}

.contact-icon:hover {
  background-color: var(--primary-color);
}

.footer-made-by {
  background-color: var(--accent-color);
  opacity: .9;
}

.footer-made-by-container {
  padding: 1rem 0;
}

.f-m-b-content {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  padding-right: 1rem;
}

.contact-icon-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon-me:hover svg path, .contact-icon-me:active svg path {
  fill: var(--primary-color);
}

.footer-made-by-container {
  display: flex;
}


@media (min-width: 576px) {
  .custom-container {
    max-width: 100%;  
  }
  
  /* mobile < 576px */
  .carousel-mobile-portrait { 
    display: none !important;
  }

  /* mobile > 576px */
  .carousel-mobile-landscape {
    display: block !important;
  }

  .slide {
    margin-left: 0px;
    margin-right: 0px;
  }

  .carousel-item:first-child {
    padding-left: 0px;
  }
  
  .carousel-item:last-child {
    padding-right: 0px;
  }

  .prev-btn {
    display: inline-block;
  }
  
  .next-btn {
    display: inline-block;
  }

  .prevent-btn {
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
  }

  /* testimonial */
  .testimonial-item {
    width: 18.75rem;
  }

  .testimonial-title {
    font-size: 2rem;
  }

  #testimonialList .carousel-item {
    padding-right: 100px;
    padding-left: 100px;
  }

  .testimonial-container {
    padding: 2.5rem 0;
  }
}
/* ----------- Response 768px  */
@media (min-width: 768px) {

  .custom-container {
    max-width: 720px;  
  }

  .hide-phone {
    display: block;
  }

  .hide-tablet {
    display: none !important;
  }

  .show-tablet {
    display: block !important;
  }

  /* search -field */

  .search-field {
    border: none;
  }
  .search-container {
    position: relative;
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0px;
    background-color: #fff;

    position: static;
    width: 0px;
    transition: width .3s;
  }
  
  .search-form-transition {
    padding-left: 0.5rem;
    width: 100%;
    transition: width .3s;
  }

  .search-form .text-input {
    display: inline-block;
    width: 100%;
    /* b/c navbar= 64 
    + 64 -2.16(padding) = 32 
    */
    height: 32px;
    line-height: normal;
    outline: none;
    padding-left: 0px;
    margin: 0px;
  }


  /* heading */
  .get-started-btn {
    width: fit-content;
    padding: 10px 1.5rem;
  }

  .img-c-tablet {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .heading-text {
    font-size: 3.125rem !important; 
  }

  .heading-image-container {
    width: 100%;
    padding: 0;
  }

  .sub-title {
    width: 80%;
    font-size: 1.3rem !important;
  }

  /*              carousel            */

  .b-content {
    width: 9.85rem !important;
  }

  .book-width {
    /* width: 10.078125rem; */
    width: 10.21875rem;
  }

  .review-book-image {
    /* ----------- responsive */
    width: 100px;
  }

  /* club avatar */
  .club-avatar {
    width: 3.75rem;
  }

  /* testimonial */
  #testimonialList .carousel-item {
    padding-right: 17.5px;
    padding-left: 17.5px;
  }

  .author-avatar {
    width: 4rem;
  }

  /* pricing */
  .pricing-inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-text {
    font-size: 3rem;
  }

  .card-sub-title {
    font-size: 1rem;
  }

  .pricing-heading {
    margin-bottom: 2rem;
  }
  
  .pricing-title {
    font-size: 2.5rem;
  }

  .sub-pricing-title {
    font-size: 1.25rem;
  }

  .effective-content {
    font-size: 1rem;
  }

  .ineffective-content {
    font-size: 1rem;
  } 

  /* never-miss email */
  .email-notify {
    flex-direction: row;
    width: 80%;
  }

  .never-miss-input {
    margin: 0 1rem;
    font-size: 1.2rem;
  }

  .never-miss-btn {
    width: 30%;
  }

  .never-miss-title {
    font-size: 2.5rem;
  }

  .never-miss-container {
    padding: 3rem 0;
  }

  /* footer */
  .footer-item {
    flex: 0 0 25%; 
    padding-top: 0px;
  }

  .logo-footer {
    flex: 0 0 25%;
  }

  .footer-item-title {
    font-size: 1rem;
  }

  .footer-link {
    font-size: .9rem;
  }

  .footer-content {
    padding: 3rem 0;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-item:not(:last-child):active {
    background-color: transparent;
  }

  .custom-container {
    max-width: 960px;  
  }

  .navbar-menu-mobile {
    display: none;
  }
  
  .navbar-menu-tablet {
    display: block;
  }

  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .left-navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .navbar-collapse {
    position: static;
    background-color: transparent;

    align-items: center;
    /* note : review again */
    height: 0; 
  }

  .hide-desktop {
    display: none;
  }

  .show-desktop {
    display: block;
  }

  .navbar-wrapper {
    padding-left: 1em;
    align-items: center;
  }

  /* navbar list */
  .nav-item {
    padding: 0;
    /* background-color: transparent ; */
  }

  .nav-item:not(:first-child) {
    margin-left: 30px;
  }

  .nav-item.active {
    background-color: transparent;
  }

  .icon-arrow {
    padding-left: 10px;
  }

  .nav-item-wrapper {
    padding: 1rem 0;
  }

  .nav-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .nav-text a, .nav-text span {
    color: var(--black-color) !important;
  }

  .navbar-expand-lg .navbar-nav .nav-item-wrapper {
    padding: 1.25rem 0 !important;
  }

  .navbar-nav .nav-item:not(:nth-child(2)):hover {
    background-color: transparent;
    text-decoration: underline;
  }
  
  .signIn-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  a.signIn-btn:hover {
    background-color: var(--dark-color);
    color: #fff;
  }


  /*              dropdown-menu                   */

  .dropdown-menu-container {
    /* relative =  itself */
    position: relative; 
  }

  .dropdown-container {
    width: fit-content;
    height: fit-content;

    background-color: #fff;
    box-shadow: 0px 5px 25px rgba(0,0,0,.2);
    position: absolute;
    top: 99%;
    left: 0;
    border-radius: 0;
  }

  .dropdown-container:not(.show) {
    display: none;
  }


  .dropdown-item-wrapper {
    padding: .5rem 0 ;
  }

  .dropdown-item:focus-within, .dropdown-item:hover {
    background-color: rgba(0, 0, 0, .05);
  }

  .heading-text {
    font-size: 3.5rem !important; 
  }

  .b-responsive {
    width: 10.6rem !important;
  }

  .book-width {
    /* width: 10.875rem; */
    width: 11.025rem;
  }

  /* community reviews */
  .review-container {
    padding-right: 2rem;
    padding-bottom: 0px;
  }

  .groups-container {
    padding-left: 1rem;
  }

  .review-title {
    font-size: 1.5rem;
  }

  .sub-content {
    font-size: 1rem;
  }

  .testimonial-item {
    width: 25rem;
  }

  #testimonialList .carousel-item {
    padding-right: 27.5px;
    padding-left: 27.5px;
  }

  .testimonial-title {
    font-size: 2.5rem;
  }

  /* pricing */
  .pricing-title {
    font-size: 2.75rem;
  }

  .sub-pricing-title {
    font-size: 1.5rem;
  }

  /* never-miss email */
  .never-miss-title {
    font-size: 3.25rem;
  }

}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;  
  }

  .navbar-container {
    max-width: 1300px; 
  }

  .b-responsive {
    width: 10.5rem !important;
  }

  .book-width {
    /* width: 10.78125rem; */
    width: 10.9375rem;
  }

  #testimonialList .carousel-item {
    padding-right: 72.5px;
    padding-left: 72.5px;
  }

  /* pricing */
  .pricing-title {
    font-size: 3rem;
  }
}